.main{
    width:60%;
    height:auto;
    border:1px solid #f0f0f0;
    border-right: 0;
    border-left: 0;
    cursor: pointer;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:1rem;

}

.left__side{
    width:70%;
    margin-left:0;
    display:flex;
    height:100%;
    align-items:center;

}

.marker{ 
    cursor: pointer;
    border:1px solid #0072ff;
    border-radius:50%;
    width:1.1rem;
    height:1rem;
    margin-right:0.6rem;
    background: transparent;
}

.marker:hover{ 
    background: #0072ff;
   
}
.edit{ 
    margin-right:1rem;
    width:1.1rem;
    height:auto;
    cursor:pointer;
}

.delete{ 
    
    cursor:pointer;
    margin-right:1rem;
    width:1rem;
    height:auto;
}

.info__part{
   
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    width:80%;
    overflow: hidden;
    
  
}

.title{ 
    font-size:0.8rem;
    margin-top:.7rem;
}

.dates{
    display:flex;
    justify-content: space-between;
    margin-top:.5rem;
    font-size:0.6rem;

}
.desc{
    margin-top:0;
    font-size:0.6rem;
}

.dateStart{
    color:green;
    
}
.date{
    color:red;
    margin-top:0;

    
}

.sep{
    width:100%;
    display:flex;
}

.file{
    display: flex;
    width:20%;
    align-items:center;
    font-size:0.7rem;
    text-decoration: underline;
}

.file_text:hover{
    color:#0072ff;
}

@media only screen and (max-width:600px){
    .marker{ 
        cursor: pointer;
        border:1px solid #0072ff;
        border-radius:50%;
        width:1.1rem;
        height:.9rem;
        margin-right:0.6rem;
        background: transparent;
    }
     
    }