*{
    margin:0;
    padding:0;
}

body{
    font-family:monospace;
}

.App{
    height:auto; 
    width:100%; 
    position: relative;
    display: flex;
    justify-content: space-between;
}

.main_view{ 
    position:relative;
    width:70%;
    margin-left:20%;
    margin-top:0;
    height:110vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:4;
    justify-content: flex-start;

}

.menu{
    position:fixed;
    z-index: 99;
}


li{
 
}
a{
    text-decoration: none;
    color:black;
}


.menu_link{ 
   


}
